@model IEnumerable<CasaEventos.Models.Evento>

@{
    ViewData["Title"] = "Home Page";
    int count = 0;
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
    <div class="carousel-item active" data-interval="2000">
      <img src="/Img/technic_upcoming_still_1280x720_jpg.jpg" class="d-block w-100" style="height: 800px;">
       <div class="carousel-caption d-none d-md-block">
        <h5>Proximos Eventos</h5>
      </div>
    </div>
@if(Model.Count() != 0 ){
    count++;
    if(count < 5)
    {
    @foreach (var item in Model)
      {
     <div class="carousel-item" data-interval="4000">
      <img src="@item.Imagem" class="d-block w-100" style="height: 800px;">
       <div class="carousel-caption d-none d-md-block">
        <h4><b>@item.NomeEvento</b></h4>
        <h5><b>Ingressos: @item.QuantidadeIngressos</b></h5>
        <a type="submit" class="btn btn-warning" asp-route-id="@item.EventoId" asp-controller="Compras" asp-action="Compra">COMPRAR AGORA</a>
      </div>
    </div>
      }

    }
}
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> 
</div>
<br>


<table class="table">
    <tbody>
    <div class="row">
@foreach (var item in Model) {
  @if(item.QuantidadeIngressos > 0){

 <div class="col-6">  
<div class="card mb-3 border-dark" style="max-width: 750px; col-sm-6">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="@item.Imagem" class="img-fluid card-img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <b><h5 class="card-title">@item.NomeEvento</h5></b>
        <p class="card-text">   <b>Ingressos Restantes:</b> @item.QuantidadeIngressos<br>
                                <b>Preço Unitário:</b> R$@item.ValorIngresso<br>
                                <b>Casa:</b> @item.Casa.Nome<br>
                                <b>Genero:</b> @item.Genero.GeneroNome<br>
                                <b>Data:</b> @Html.DisplayFor(modelItem => item.DataEvento)<br>
                                <a type="submit" class="btn btn-primary" asp-route-id="@item.EventoId" asp-controller="Compras" asp-action="Compra" style="text-align: center;">Comprar</a>
        </p>

      </div>
    </div>
  </div>
  </div>
</div>     
  }
} 

    </div>
    </tbody>
</table>

