@model IEnumerable<CasaEventos.Models.Evento>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <tbody>
@foreach (var item in Model) {
<div class="container">
    <div class="row">
    <div class="card mb-3 card border-dark" style="width: 18rem;">
    <img src="@item.Imagem" class="img-fluid card-img-top" alt="Responsive image">
        <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">O local suporta @Html.DisplayFor(modelItem => item.CapacidadeEvento) pessoas! e ainda restam @Html.DisplayFor(modelItem => item.QuantidadeIngressos)
         ingressos a venda, não perca a chance de ir assistir a @Html.DisplayFor(modelItem => item.NomeEvento) cujo seu foco é em @Html.DisplayFor(modelItem => item.Genero.GeneroNome), 
         sediado pela casa @Html.DisplayFor(modelItem => item.Casa.Nome). Cada ingresso por apenas  R$@Html.DisplayFor(modelItem => item.ValorIngresso) cada! O evento irá acontecer 
         em @Html.DisplayFor(modelItem => item.DataEvento)</p>
        <a type="submit" value="Comprar" class="btn btn-primary">Comprar</a>
    </div>
    </div>
    </div>
</div>
}
    </tbody>
</table>
