@model CasaEventos.DTO.EventoDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Criar novo evento</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       
            <div class="form-group">
                <label asp-for="NomeEvento" class="control-label">Nome do Evento</label>
                <input asp-for="NomeEvento" class="form-control" />
                <span asp-validation-for="NomeEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapacidadeEvento" class="control-label">Capacidade do Evento</label>
                <input asp-for="CapacidadeEvento" class="form-control" />
                <span asp-validation-for="CapacidadeEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeIngressos" class="control-label">Total de Ingressos a Venda</label>
                <input asp-for="QuantidadeIngressos" class="form-control" />
                <span asp-validation-for="QuantidadeIngressos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEvento" class="control-label"></label>
                <input asp-for="DataEvento" class="form-control" />
                <span asp-validation-for="DataEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorIngresso" class="control-label">Preço do Ingresso</label>
                <input asp-for="ValorIngresso" class="form-control" />
                <span asp-validation-for="ValorIngresso" class="text-danger"></span>
            </div>
            <div class="form-group">  
                <p>Selecione uma Casa de Show</p>
                <select asp-for="Casa" asp-items='@(new SelectList(@ViewBag.Casa, "CasaId", "Nome"))' class="form-control"></select>
            </div>
            <div class="form-group">
                <p>Selecione um Genero para o Evento</p>
                <select asp-for="Genero" asp-items='@(new SelectList(@ViewBag.Genero, "GeneroId", "GeneroNome"))' class="form-control"></select>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary">Criar</button>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Voltar para a Lista</a>

</div>


@*

@foreach (var evento in Model)
{
    
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       
            <div class="form-group">
                @evento.NomeEvento
            </div>
            <div class="form-group">
                @evento.CapacidadeEvento
            </div>
            <div class="form-group">
                @evento.QuantidadeIngressos
            </div>
            <div class="form-group">
                @evento.DataEvento
            </div>
            <div class="form-group">
                @evento.ValorIngresso
            </div>
                <div class="form-group">
                <img src=@evento.Imagem/>
            </div>
            <div class="form-group">
                @evento.Casa
            </div>
            <div class="form-group">  
                @evento.Genero
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary">Criar</button>
            </div>
        </form>
    </div>
</div>
}
*@

