@model CasaEventos.Models.Evento

@{
    ViewData["Title"] = "Deletar";
}

<h1 class="text-danger" style="text-align: center;">DELETAR</h1>

<h3 class="text-danger">Você tem certeza que quer fazer isso?</h3>
<div class="text-danger"> 
    <h4>As mudanças não podem ser desfeitas após a exclusão</h4>
    <hr />
    <dl class="row mx-auto">
        <dt class = "col-sm-2">
            Nome do Evento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEvento) 
        </dd>
        <dt class = "col-sm-2">
            Capacidade do Evento
        </dt> 
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadeEvento)
        </dd>
        <dt class = "col-sm-2">
            Total de Ingressos a Venda
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeIngressos) 
        </dd>
        <dt class = "col-sm-2">
            Data do Evento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEvento) 
        </dd>
        <dt class = "col-sm-2">
            Preço do Ingresso
        </dt>
        <dd class = "col-sm-10">
            R$ @Html.DisplayFor(model => model.ValorIngresso) 
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EventoId" />
        <button type="submit" value="Delete" class="btn btn-danger">Deletar</button> |
        <a asp-action="Index" class="btn btn-light">Voltar para a Lista</a>
    </form>
</div>
