@model IEnumerable<CasaEventos.Models.Evento>

@{
    ViewData["Title"] = "Index";
}

<h1>Eventos</h1>

<p>
    <a asp-action="Create">Criar novo Evento</a>
</p>
@* <table class="table">
    <thead>
        <tr>
            <th>
               Nome do Evento
            </th>
            <th>
               Capacidade do Evento
            </th>
            <th>
               Quantia de Ingressos
            </th>
            <th>
               Data do Evento
            </th>
            <th>
               Preço Unitário
            </th>
            <th>
                Casa de Show
            </th>
            <th>
                Genero
            </th>
            <th>
                
            </th> 
  
        </tr>
    </thead>
    <tbody> *@
@foreach (var item in Model) {
         @* <tr>
           <td>
                <img src="@Url.Action( "PegarImagem" , "Evento" , new {id = item.EventoId} )" width="200px" height="200px" />
            </td> 
            @* <td>
                @Html.DisplayFor(modelItem => item.NomeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeIngressos) restantes
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEvento)
            </td>
            <td>
                R$ @Html.DisplayFor(modelItem => item.ValorIngresso)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Casa.Nome)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Genero.GeneroNome)
            </td>
            <td>
               <img src="@item.Imagem" width="50%" class="img-fluid">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventoId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.EventoId">Deletar</a> 
            </td>
        </tr> *@
<div class="card mb-3 border-dark" style="max-width: 650px; ">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="@item.Imagem" class="img-fluid card-img" alt="Responsive image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">@item.NomeEvento</h5>
        <p class="card-text">   Capacidade: @item.CapacidadeEvento <br>
                                Ingressos Restantes:@item.QuantidadeIngressos <br>
                                Preço Unitário: R$@item.ValorIngresso <br>
                                Casa: @item.Casa.Nome <br>
                                Genero: @item.Genero.GeneroNome <br>
                                Data: @item.DataEvento
        </p>
        <div>
            <a asp-action="Edit" asp-route-id="@item.EventoId">Editar</a> |
            <a asp-action="Delete" asp-route-id="@item.EventoId">Deletar</a> 
        </div>
      </div>
    </div>
  </div>
</div>     
}
    </tbody>
</table>
