@model IEnumerable<CasaEventos.Models.Evento>

@{
    ViewData["Title"] = "Index";
}

<h1>Eventos</h1>

<p>
    <a asp-action="Create">Creiar novo Evento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Nome do Evento
            </th>
            <th>
               Capacidade do Evento
            </th>
            <th>
               Quantia de Ingressos
            </th>
            <th>
               Data do Evento
            </th>
            <th>
               Preço Unitário
            </th>
            <th>
                Casa de Show
            </th>
            <th>
                Genero
            </th> 
  
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeIngressos) restantes
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEvento)
            </td>
            <td>
                R$ @Html.DisplayFor(modelItem => item.ValorIngresso)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Casa.Nome)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Genero.GeneroNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EventoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.EventoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
