@model IEnumerable<CasaEventos.Models.Evento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacidadeEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeIngressos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorIngresso)
            </th>
            <th>
                Casa de Show
            </th>
            <th>
                Genero
            </th> 
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeIngressos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorIngresso)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Casa.Nome)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Genero.GeneroNome)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
