@model IEnumerable<CasaEventos.Models.Evento>

@{
   
}

<h1 class="text-light" style="text-align: center;">PROXIMOS EVENTOS</h1>

<table class="table">
    <tbody>
    <div class="row">
@foreach (var item in Model) {
  @if(item.QuantidadeIngressos > 0){

 <div class="col-6">  
<div class="card mb-3 border-dark" style="max-width: 750px; col-sm-6">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="@item.Imagem" class="img-fluid card-img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <b><h5 class="card-title">@item.NomeEvento</h5></b>
        <p class="card-text">   <b>Ingressos Restantes:</b> @item.QuantidadeIngressos<br>
                                <b>Preço Unitário:</b> R$@item.ValorIngresso<br>
                                <b>Casa:</b> @item.Casa.Nome<br>
                                <b>Genero:</b> @item.Genero.GeneroNome<br>
                                <b>Data:</b> @item.DataEvento<br>
                                <a type="submit" class="btn btn-primary" asp-route-id="@item.EventoId" asp-controller="Compras" asp-action="Compra" style="text-align: center;">Comprar</a>
        </p>

      </div>
    </div>
  </div>
  </div>
</div>     
  }
} else{
  <h5 class="text-light">Não existem eventos proximos no momento</h5>
}

    </div>
    </tbody>
</table>

